Source: node-md5-o-matic
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Abhishek Kuvalekar <abhi.kuvalekar@yahoo.com>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , mocha <!nocheck>
 , node-should <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-md5-o-matic
Vcs-Git: https://salsa.debian.org/js-team/node-md5-o-matic.git
Homepage: https://github.com/trentmillar/md5-o-matic
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-md5-o-matic
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Fast and simple MD5 hashing utility with zero module dependencies
 Simple & fast MD5 hashing for Node.js that requires no other
 module dependencies since it is pure javascript
 .
 Node.js is an event-based server-side JavaScript engine.
